{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% include lang.html %}
</br>
</br>
</br>
{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            {% if page.lang == 'English'%}
                <a class="link" href="{{ site.url }}/about">
            {% else %} 
                <a class="link" href="{{ site.url }}/about-zh">
            {% endif %}
                    <img class="selfie" alt="{{ site.language[page.lang].name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
                </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.language[page.lang].name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.language[page.lang].name }}</h1>
        <h2 class="description">{{ site.language[page.lang].bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
